---
title: SoccerLC
component: ContentPage
---
div
  div(style="text-align: center;")
    h1 Get The App Or Find Your 
      a(href='/find-team') Team
    div(style=" display:flex; flex-direction:row; justify-content: space-around;")
      div(style="display:flex; flex-direction:column;")
        h2 Android
        a(href='https://play.google.com/store/apps/details?id=soccerinfo.burnetttech.com.soccer_infoandroid')
          img(src="/AndroidQR.jpg", width='400', height='400', alt='React')
      div(style="display:flex; flex-direction:column;")
        h2 IOS
        a(href='https://itunes.apple.com/us/app/soccerlc/id1042811765?mt=8')
          img(src="/IOSQR.jpg", width='400', height='400', alt='React')
